body{

}
div{
    display: block;
    border: 0;
    vertical-align: baseline;
}
.header{
    display: inline-flex;
    width: 100%;
    padding: 10px 0 30px;
    border-bottom: 3px solid red;
}
.header-logobxh{
    background-color: white;
    height: 200px;
}
.header-name {
    width: 1500px;
    text-align: center;
    padding: 20px 0 10px;
    line-height: 28px;
}

.header-name p{
    margin: 30px 0 0;
    width: 1500px;
    color: #000;
    font-size: 40px;
    text-align: center;
}
.header-items{
    width: 173px;
}
.header-icon-link{
    cursor: pointer;
}
.header-icon{
    color: #000;
    font-size: 28px;
    margin-top: 30px;
    padding: 20px 25px 0;
    align-items: center;
}
.slider{
    width: 100%;
    margin-top: 100px;
    border: ridge 2px red;
    display: inline-flex
}
.slider-menu{
    width: 1825px;
    display: block;
}
.slider-ketqua{
    width: 1200px;
    margin: 50px 0px;
    padding: 0;
    text-align: center;
}
.slider-ketqua-li{
    cursor: pointer;
    display: block;
    width: 200px;
    height: 20px;
    margin: 0 80px 40px ;
    padding: 10px;
    border: ridge 1px #000;
    border-radius: 5px;
    background-color:rgb(119, 3, 3);
}
a{
    text-decoration: none;
}
.slider-span{
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
}
.slider-taikhoan{
    width: 100%;
    display: inline-flex;
}
.slider-taikhoan-ava{
    margin: 69px 0;
    width: 250px;
    height: 250px;
}    
.slider-thongtin{
    margin-top: 69px;
    padding:0 30px;
}
.slider-thongtin-li{
    cursor: pointer;
    display: block;
    width: 342px;
    height: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border: ridge 1px #000;
    border-radius: 5px;
    background-color:rgb(119, 3, 3);

}
.slider-thongtin-span{
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
}
